.box{
  width:200px ;
  height: 580px;
  /* border: 1px solid blue; */
  background: rgb(46, 36, 182);
}

i{
  color: rgb(5, 3, 3);color: #ffffff; position: relative;
  left: 20px;
}
.m{
  color: rgb(0, 0, 0);
  position: relative;
  top: -20px;
  left: 20px;
  color: #ffffff; position: relative;
  left: 50px;
  top: -20px;
}
.fg{
position: relative;
top: 40px;
}
.q{
  width: 100%;
  height: 40px;
  position: relative;
  color: whitw;
  top: -50px;
  display: flex;
  align-items: center;
}
.w{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;
}
.e{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;

}
.r{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;

}
.t{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 50px;
  display: flex;
  align-items: center;

}
.q{
  color: black;
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;

}
.sa{
  color: rgb(0, 0, 0); display: flex; align-items: center; justify-content: center; position: relative;
  top: px;
  left: 30px;
}
.da{
  color: rgb(0, 0, 0); display: flex; align-items: center; justify-content: center; position: relative;
  top: px;
  left: 30px;
}
.ads{
  color: rgb(7, 5, 5); display: flex; align-items: center; justify-content: center; position: relative;
  top: px;
  left: 30px;
}
.q:active{
  background: #fffcfc ;
  color: rgb(4, 8, 243) ;
}

.w:hover{
  background: #fffcfc !important;
  color: rgb(4, 8, 243) !important;
}
.e:hover{
  background: #fffcfc !important;
  color: rgb(4, 8, 243) !important;
}
.r:hover{
  background: #fffcfc !important;
  color: rgb(4, 8, 243) !important;
}
.t:hover{
  background: #fffcfc !important;
  color: rgb(4, 8, 243) !important;
}
.q:hover{
  background: #fffcfc !important;
  color: rgb(4, 8, 243) !important;
}
.box2{
  width: 100%;
  height: 580px;
  /* border: 1px solid red; */
  background: rgb(224, 219, 219);

}
.l{
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
body{
  display: flex;
}
.nav{
  width: 100%;
  height: 70px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.vcxz{
  width: 100%;
  height: 60px;
  /* border: 1px solid rgb(0, 0, 0), 0, 0; */
  display:flex;
  justify-content: space-between;

}
.enmy{
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  /* border: 1px solid red; */
}
.swk{
  width: 20px;
  position: relative;
  left: 10px;  
}
.hj{
  width: 120px;
  height: 30px;
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 3px;
  margin-left: 600px;
}
.work{
  width: 100%;
  height: 40px;
  position: relative;
  top: 160px;
  color: white;
  display: flex;
  align-items: center;
}
.alo{
  width: auto;
  height: auto;
   display: flex; /* border: 1px solid ridge red; */

}
.mikey{
  width: 50%;
  height: 580px;
  /* border: 1px sold ridge red; */

}
.senju  {
  width: 50%;
  height: 580px;
  /* border: 1px sold ridge red; */
}
.space{
  width: 100%;
  height: 40px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 170px;
}
.dsa{
  width: 150px;
  height: 50px;
  /* border: 1px solid red   ;  */
  display: flex;
  justify-content: center;
  background: #fffcfc;

}
.asa{
  width: 150px;
  height: 50px;
  /* border: 1px solid red   ; */
    display: flex;
  justify-content: center;
  background: #fffcfc;

}
.ssa{
  width: 150px;
  height: 50px;
  /* border: 1px solid red   ; */
    display: flex;
  justify-content: center;
  background: #fffcfc;
}
.fsa{
  width: 150px;
  height: 50px;
  /* border: 1px solid red   ; */
    display: flex;
  justify-content: center;
  background: #fffcfc;
}
.br{
  width: 100%;
  height: 100px;
  /* border: 1px solid blue; */
  display: flex;

}
.h3{
  position: relative;
  top: 20px;
  left: 0px;
}

a{
  text-decoration: none;  color: #000;

}
.p{
  position: relative;
  top: 50px;
  left: -280px;
}
img{
  position: relative;
  width: 100px;
  left: 100px;
  border-radius: 10px;
}
#w{
  position: relative;
  left: 20px;
}
#w{
  position: relative;
  left: -90px;
}
.bv{
  width: 100%;
  height: 100px;
  /* border: 1px solid blue; */
}
.bc{
  width: 100%;
  height: 100px;
  /* border: 1px solid blue; */
}
.bx{
  width: 100%;
  height: 100px;
  /* border: 1px solid blue; */
}
